    * {
        margin: 0;
        padding: 0;
    }
    
    html {
        box-sizing: border-box;
    }
    
    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }
    
    a {
        text-decoration: none;
        color: white;
    }
    
    h1,
    h2,
    h3 {
        padding-bottom: 5px;
    }
    
    p {
        margin: 10px 0;
    }
    
    .container {
        max-width: 1000px;
        margin: 0 auto;
    }
    /* Utility classes */
    
    .color-heading {
        color: #FFB16E;
    }
    
    .color-heading-white {
        color: white;
    }
    
    .bg-light {
        background-color: whitesmoke;
    }
    
    .bg-orange {
        background-color: #FFB16E;
        color: white;
    }
    
    .bg-dark {
        background-color: black;
        color: white;
    }
    
    .clr {
        display: block;
        content: ' ';
        clear: both;
    }
    /* Navbar */
    
    .site-navbar {
        background-color: #7C94FF;
        overflow: auto;
        color: white;
    }
    
    .site-navbar h1 {
        float: left;
        padding-top: 10px;
    }
    
    .site-navbar h1 a {
        color: whitesmoke;
    }
    
    .site-navbar ul {
        float: right;
        list-style: none;
    }
    
    .site-navbar li {
        float: left;
    }
    
    .site-navbar ul li a {
        display: block;
        color: white;
        text-align: center;
        padding: 15px;
    }
    
    .site-navbar ul li a:hover,
    .site-navbar ul li .current {
        background-color: #EB59CC;
    }
    /* main  */
    
    .main {
        background: url(AdobeStock_100000042-e1563305717660-686x371.jpeg) no-repeat center center/cover;
        height: 600px;
    }
    
    .main .site-content {
        text-align: center;
        padding-top: 160px;
    }
    
    .site-content h1 {
        font-size: 50px;
        line-height: 1.2em;
        color: white;
    }
    
    .site-content .lead {
        font-size: 16px;
    }
    
    .btn {
        margin: 20px;
        display: inline-block;
        padding: 13px 20px;
        background-color: black;
        border-radius: 4px;
    }
    
    .btn:hover {
        background-color: #FFB16E;
        color: white
    }
    /* info */
    
    .info {
        height: 400px;
    }
    
    .info .info-img {
        float: left;
        width: 50%;
        background: url("/html-color-codes-color-tutorials-hero-00e10b1f.jpg") no-repeat;
        min-height: 100%;
    }
    
    .info .info-content {
        background-color: black;
        color: white;
        padding: 50px 30px;
        float: right;
        width: 50%;
        height: 100%;
        text-align: center;
        overflow: hidden;
    }
    
    .info-content .info-heading {
        color: white;
    }
    
    .info .info-btn {
        background-color: lightgray;
        color: white;
    }
    
    .info .info-btn:hover {
        background-color: #FFB16E;
    }
    /* boxs */
    
    .box {
        float: left;
        width: 33.3%;
        text-align: center;
        padding: 50px;
    }
    
    .box i {
        margin-bottom: 10px;
    }
    /* About page */
    
    #site-about {
        padding: 30px;
    }
    
    .info-left {
        width: 50%;
        float: left;
        min-height: 100%;
    }
    
    #site-about .info-right {
        float: right;
        width: 50%;
        min-height: 100%;
    }
    
    #site-about .info-right img {
        display: block;
        margin: auto;
        width: 70%;
        border-radius: 50%;
        margin-bottom: 30px;
    }
    /* Testimonials */
    
    #testimonials {
        height: 600px;
        background: url(/Chookapeck-Zoom-Beach.png) no-repeat center center/cover;
        padding-top: 40px;
    }
    
    #testimonials h2 {
        text-align: center;
        font-size: 30px;
        padding-bottom: 40px;
    }
    
    #testimonials .testimonial {
        padding: 20px;
        margin-bottom: 40px;
        border-radius: 10px;
    }
    
    #testimonials .testimonial img {
        width: 100px;
        float: left;
        margin-right: 20px;
        margin-top: 5px;
        border-radius: 50%;
    }
    /* contact form */
    
    #contact-form h1 {
        padding-top: 10px;
        font-size: 40px;
    }
    
    #contact-form .form-group {
        margin-bottom: 20px;
    }
    
    #contact-form label {
        display: block;
        margin-bottom: 5px;
    }
    
    #contact-form input,
    #contact-form textarea {
        width: 100%;
        padding: 10px;
        border: 2px #ddd solid;
    }
    
    #contact-form textarea {
        height: 250px;
    }
    
    #contact-form input:focus,
    #contact-form textarea:focus {
        outline: none;
        border-color: #FFB16E;
    }
    
    .submit {
        color: white;
        margin: 20px;
        display: inline-block;
        background-color: black;
        padding: 10px 20px;
        border-radius: 10px;
        width: 15%;
    }
    
    .submit:hover {
        background-color: #FFB16E;
        color: white
    }
    /* footer */
    
    #main-footer {
        text-align: center;
        background-color: #444;
        color: white;
        padding: 20px;
    }