.site {
    max-width: 60em;
    margin: 0 auto;
}

.gallery li {
    display: inline-block;
    width: 25%;
    vertical-align: middle;
    margin: 1.2% 1%;
    border: 0.4rem solid black;
    padding: 0.5em;
}

.gallery img {
    display: block;
    width: 100%;
}