html {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Georgia, serif;
}

strong {
    display: block;
    float: right;
}

.header {
    border-bottom: 0.5px solid black;
}

.section-one {
    border-bottom: 1px solid black;
}

blockquote {
    font-style: italic;
    border-left: 2px solid rgb(221, 221, 221);
    padding: 10px 20px;
    margin: 10px;
}

table,
td,
th {
    border-width: 1px;
    border-color: rgb(221, 221, 221);
    border-style: solid;
}

tr:nth-child(odd) {
    background: rgb(241, 241, 241);
}

tr:nth-child(odd)>td {
    background: rgb(241, 241, 241);
}

tr:hover {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}